<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jkhForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <jkhForm.Properties.Settings>
            <setting name="TimePast" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeNow" serializeAs="String">
                <value />
            </setting>
            <setting name="arrayPast01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast41" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast32" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast42" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast33" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast43" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast34" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast44" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalPast" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="toPayPast" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arrayPast5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Итого_начислено_по_плану" serializeAs="String">
                <value>0</value>
            </setting>
        </jkhForm.Properties.Settings>
    </userSettings>
</configuration>